.App {
  text-align: center;
}

* {
  user-select: none;
}

.Notifications {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #fff;
  }
}